# 4 - Manipulación de datos avanzado y estadística básica

No son pocas las posibilidades de procesamiento y exploración que podemos hacer con Pandas, en el siguiente notebook trataremos de ilustrarlas.

In [1]:
import pandas as pd
import numpy as np

En primer lugar, leamos el dataset

In [2]:
df = pd.read_csv('data/air_pollution.csv')

df.tail()

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],2000 [YR2000],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023],2024 [YR2024]
266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,Last Updated: 06/05/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Observamos que hay bastantes códigos nulos, para ello usamos el método dropna.

In [3]:
df.dropna(inplace=True)

df.tail()

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],2000 [YR2000],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023],2024 [YR2024]
261,"PM2.5 air pollution, mean annual exposure (mic...",EN.ATM.PM25.MC.M3,Sub-Saharan Africa,SSF,39.2332038634254,41.2294606842827,46.5544222062187,42.7530014483733,40.7846217866119,39.0944691727479,36.2221384584107,38.1777310513302,..,..,..,..
262,"PM2.5 air pollution, mean annual exposure (mic...",EN.ATM.PM25.MC.M3,Sub-Saharan Africa (excluding high income),SSA,39.2372720698874,41.2331262674597,46.5578442490273,42.7559549761457,40.7873650675393,39.0970618039546,36.2244340511557,38.1802309248681,..,..,..,..
263,"PM2.5 air pollution, mean annual exposure (mic...",EN.ATM.PM25.MC.M3,Sub-Saharan Africa (IDA & IBRD countries),TSS,39.2332038634254,41.2294606842827,46.5544222062187,42.7530014483733,40.7846217866119,39.0944691727479,36.2221384584107,38.1777310513302,..,..,..,..
264,"PM2.5 air pollution, mean annual exposure (mic...",EN.ATM.PM25.MC.M3,Upper middle income,UMC,39.88493346304,39.5231020700893,36.6675542420567,34.4656325190796,33.3499632452514,30.7834709018042,29.0935841579217,27.4111876981387,..,..,..,..
265,"PM2.5 air pollution, mean annual exposure (mic...",EN.ATM.PM25.MC.M3,World,WLD,39.6557396735183,39.8365163043514,42.1578674575682,40.9733816118391,38.3887564832994,37.6380474813557,34.4974705338068,31.321074188751,..,..,..,..

Identificamos propiedades de los campos

In [4]:
df.describe()

,Series Name,Series Code,Country Name,Country Code,1990 [YR1990],2000 [YR2000],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023],2024 [YR2024]
count,266,266,266,266,266,266,266,266,266,266,266,266,266,266,266,266
unique,1,1,266,266,247,247,247,247,247,247,247,247,1,1,1,1
top,"PM2.5 air pollution, mean annual exposure (mic...",EN.ATM.PM25.MC.M3,Afghanistan,AFG,..,..,..,..,..,..,..,..,..,..,..,..
freq,266,266,1,1,18,18,18,18,18,18,18,18,266,266,266,266

Observamos que el nivel de granulabilidad de la tabla es justo el país. El nivel de granulabilidad es el mínimo nivel de información al que podemos acudir. Siempre es importante saber a qué nivel estamos consultando la información de nuestra tabla.

Vemos por ejemplo de que todo corresponde exactamente al mismo Series Name:

In [9]:
df['Series Name'].unique()

array(['PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)'],
      dtype=object)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 266 entries, 0 to 265
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Series Name    266 non-null    object
 1   Series Code    266 non-null    object
 2   Country Name   266 non-null    object
 3   Country Code   266 non-null    object
 4   1990 [YR1990]  266 non-null    object
 5   2000 [YR2000]  266 non-null    object
 6   2015 [YR2015]  266 non-null    object
 7   2016 [YR2016]  266 non-null    object
 8   2017 [YR2017]  266 non-null    object
 9   2018 [YR2018]  266 non-null    object
 10  2019 [YR2019]  266 non-null    object
 11  2020 [YR2020]  266 non-null    object
 12  2021 [YR2021]  266 non-null    object
 13  2022 [YR2022]  266 non-null    object
 14  2023 [YR2023]  266 non-null    object
 15  2024 [YR2024]  266 non-null    object
dtypes: object(16)
memory usage: 35.3+ KB

Notamos que los campos que deberían ser numérico son de tipo object (categóricos). Pretendemos cambiarle el tipo con astype:

In [11]:
df_2020=df[["Country Name","2020 [YR2020]"]]

Al intentar hacerlo directamente con la función astype() nos produce un error, por lo que tendremos que intentarlo de otra forma.

In [14]:
df_2020["2020 [YR2020]"].astype("float")

ValueError: could not convert string to float: '..'

Sustituimos los string vacíos por np.nan con la función replace y tras ello ya conseguimos cambiarle el tipo a flotante.

In [24]:
df_2020["2020 [YR2020]"] = df_2020["2020 [YR2020]"].replace({"..": np.nan}).astype(float)

C:\Users\Jorge\AppData\Local\Temp\ipykernel_3708\4126350758.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2020["2020 [YR2020]"] = df_2020["2020 [YR2020]"].replace({"..": np.nan}).astype(float)

In [27]:
df_2020.info()

<class 'pandas.core.frame.DataFrame'>
Index: 266 entries, 0 to 265
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Country Name   266 non-null    object
 1   2020 [YR2020]  248 non-null    float64
dtypes: float64(1), object(1)
memory usage: 6.2+ KB

Imaginemos ahora que queremos la información agrupada por continente, para ello buscamos una fuente de datos fiable y la anexamos a nuestro dataframe.

URL a los datos de los continentes: https://gist.github.com/alyssaq/3415363a18610d22f0d307bcaac857cd/

In [18]:
continents = pd.read_csv("https://gist.githubusercontent.com/alyssaq/3415363a18610d22f0d307bcaac857cd/raw/dfd032859f7badf16953878ac86f1b9e42caffbc/countries_continents.csv")
continents = continents[["country_name", "continent_name"]].rename(columns={
    "country_name": "country",
    "continent_name": "continent"
})

continents

               country continent
0          Afghanistan      Asia
1        Åland Islands    Europe
2              Albania    Europe
3              Algeria    Africa
4       American Samoa   Oceania
..                 ...       ...
244  Wallis and Futuna   Oceania
245     Western Sahara    Africa
246              Yemen      Asia
247             Zambia    Africa
248           Zimbabwe    Africa

[249 rows x 2 columns]

Anexamos la información con la función merge, tras ello quitamos la columna duplicada country.

In [21]:

df_2020 = df_2020.merge(continents, left_on="Country Name", right_on="country", how="inner").drop(columns=["country"])

In [22]:
df_2020

       Country Name  2020 [YR2020]      continent
0       Afghanistan      46.087094           Asia
1           Albania      15.707004         Europe
2           Algeria      25.552656         Africa
3    American Samoa       6.715147        Oceania
4           Andorra       9.080281         Europe
..              ...            ...            ...
178         Uruguay      10.571792  South America
179      Uzbekistan      31.960429           Asia
180         Vanuatu      14.082412        Oceania
181          Zambia      24.308592         Africa
182        Zimbabwe      19.494180         Africa

[183 rows x 3 columns]

## Estadísticas básicas agrupadas

Agrupamos nuestro conjunto de datos a la espera de que realicemos una operación sobre él

In [24]:
gr = df_2020.groupby("continent")["2020 [YR2020]"]

La función para la media es la función mean()

In [66]:
gr.mean()

continent
Africa           34.661497
Asia             31.833867
Europe           12.438079
North America    17.175194
Oceania          10.301948
South America    18.595047
Name: 2020 [YR2020], dtype: float64

La función para la media es la función median()

In [67]:
gr.median()

continent
Africa           30.737348
Asia             30.579633
Europe           11.216066
North America    19.762507
Oceania          10.220125
South America    16.657021
Name: 2020 [YR2020], dtype: float64

La función para la moda no existe directamente por lo que tendremos que usar una función apply

In [25]:
gr.apply(lambda x: x.mode().iat[0])

continent
Africa            8.499839
Asia              7.597265
Europe            4.895181
North America     6.556248
Oceania           5.917801
South America    10.089160
Name: 2020 [YR2020], dtype: float64

Creamos un dataframe en pandas en el que integramos todas estas métricas a la vez. Notamos que la construcción de este dataframe se ha realizado mediante un diccionario de Python.

In [69]:
stats = pd.DataFrame({
    "media": gr.mean().round(2),
    "mediana": gr.median().round(2),
    "moda": gr.apply(lambda x: x.mode().iat[0])
})
print(stats)

               media  mediana       moda
continent
Africa         34.66    30.74   8.499839
Asia           31.83    30.58  12.012391
Europe         12.44    11.22   4.895181
North America  17.18    19.76   6.556248
Oceania        10.30    10.22   5.917801
South America  18.60    16.66  10.089160

Con la función de pandas cut podemos dividir en bins nuestros datos y asignarle etiquetas.

In [ ]:
bins = [0, 5, 10, 25, 50, 100]
labels = ['0–5','5–10','10–25','25–50','50+']
df_2020["rango_pm25"] = pd.cut(df_2020["2020 [YR2020]"], bins=bins, labels=labels, include_lowest=True)

In [71]:
df_2020

,Series Code,Country Name,2020 [YR2020],rango_pm25,continent
0,EN.ATM.PM25.MC.M3,Afghanistan,46.087094,25–50,Asia
1,EN.ATM.PM25.MC.M3,Albania,15.707004,10–25,Europe
2,EN.ATM.PM25.MC.M3,Algeria,25.552656,25–50,Africa
3,EN.ATM.PM25.MC.M3,American Samoa,6.715147,5–10,Oceania
4,EN.ATM.PM25.MC.M3,Andorra,9.080281,5–10,Europe
...,...,...,...,...,...
182,EN.ATM.PM25.MC.M3,Uruguay,10.571792,10–25,South America
183,EN.ATM.PM25.MC.M3,Uzbekistan,31.960429,25–50,Asia
184,EN.ATM.PM25.MC.M3,Vanuatu,14.082412,10–25,Oceania
185,EN.ATM.PM25.MC.M3,Zambia,24.308592,10–25,Africa
186,EN.ATM.PM25.MC.M3,Zimbabwe,19.494180,10–25,Africa

Finalmente, con la función crosstab podemos visualizarlas como una matriz.

In [72]:
tabla_cruce = pd.crosstab(df_2020["continent"], df_2020["rango_pm25"])
print(tabla_cruce)

rango_pm25     0–5  5–10  10–25  25–50  50+
continent
Africa           0     2     15     22   10
Asia             0     0     15     16    4
Europe           1    15     23      2    0
North America    0     5     15      2    0
Oceania          0     8      8      0    0
South America    0     0      8      3    0

## Ejercicio propuesto (30-40 min)

1. Realiza un gráfico (el que creas que sea oportuno) que muestre la tasa de crecimiento en la polución por continentes entre 2019 y 2020.

2. Media, moda y mediana por continente del año 2018.

3. Calcula la varianza con una función apply() para el año 2017.

4. Añadir al dataframe de 2020 la columna media respecto al continente al que pertenece y crear un campo para comparar la diferencia respecto a su continente en base a esta métrica.

5. Crea un gráfico de lineas que mida el índice de polución con una línea por continente e indexado en el tiempo.

## Recursos adicionales

- Análisis de datos con Pandas y Numpy: https://medium.com/@juans3/analisis-de-datos-con-pandas-y-numpy-8551d5953062
- Guía para principiantes https://www.freecodecamp.org/espanol/news/como-empezar-con-pandas-en-python-una-guia-para-principiantes/